.inline-block {
  display: inline-block;
}

div {
  background-color: #282828;
  width: 100%;
  height: 70px;
  position: fixed;
  max-width: 1220px;
  z-index: 10000;
  font-size: 18px;
  font-family: "Gotham Pro", Verdana, sans-serif;

  app-left-menu {
    width: 33.3%;
    vertical-align: middle;
  }

  app-search {
    width: 33.3%;
  }

  app-right-menu, app-auth-user {
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
  }

  app-language-selection {
    width: 5%;
  }
}

@media screen and (max-width: 1010px){
  div {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px){
  div {
    font-size: 14px;
    height: 60px;
  }
}

@media screen and (max-width: 700px){
  div {
    font-size: 10px;
    height: 40px;
  }
}
