div {
  margin: 40px 0 0;
  padding: 0;
  background-color: #282828;
  p {
    padding: 20px 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Gotham Pro", Verdana, sans-serif;
    margin: 0;
  }
}
