<div class="top-artists__container" *ngIf="isLoad">
  <div class="top-artists__tor-artist">
    <img [src]="dataTopArtist.artist[0].image[4]['#text']" alt="">
    <div><p>{{dataTopArtist.artist[0].name}}</p></div>
  </div>
  <div class="top-artists__tor-artist_albums">
    <div>
      <div class="top-artists__albun-block">
        <img [src]="dataTopArtistsAlbums.album[0].image[3]['#text']" alt="">
        <p class="albun-block_name">{{dataTopArtistsAlbums.album[0].name}}</p>
        <p class="albun-block_treck-count"></p>
      </div>
    </div>
    <div>
      <div class="top-artists__albun-block">
        <img [src]="dataTopArtistsAlbums.album[1].image[3]['#text']" alt="">
        <p class="albun-block_name">{{dataTopArtistsAlbums.album[1].name}}</p>
        <p class="albun-block_treck-count"></p>
      </div>
    </div>
    <div>
      <div class="top-artists__albun-block margin">
        <img [src]="dataTopArtistsAlbums.album[2].image[3]['#text']" alt="">
        <p class="albun-block_name">{{dataTopArtistsAlbums.album[2].name}}</p>
        <p class="albun-block_treck-count"></p>
      </div>
    </div>
    <div>
      <div class="top-artists__albun-block margin">
        <img [src]="dataTopArtistsAlbums.album[3].image[3]['#text']" alt="">
        <p class="albun-block_name">{{dataTopArtistsAlbums.album[3].name}}</p>
        <p class="albun-block_treck-count"></p>
      </div>
    </div>
  </div>
</div>

<div class="top-artists__artists_container">
  <p class="header">Top artists</p>
  <div class="top-artists__artists" *ngFor="let item of TopArtists">
    <img [src]="item.image[3]['#text']" alt="">
    <p>{{item.name}}</p>
  </div>
</div>
