<div *ngIf="!isReg.isOpen" (click)="Toggle()" class="dashboard__button">
  <div class="dashboard__button_main-part">
    <div></div>
    <div></div>
  </div>
  <div class="dashboard__button_second-part"></div>
</div>

<div *ngIf="isReg.isOpen" class="dashboard__window">
  <div id="list_of_messages" class="dashboard__list-message">
    <app-message *ngFor="let message of messages | async" [message]="message">
    </app-message>
  </div>

  <div class="dashboard__text">
    <textarea name="" id="" rows="2" #message></textarea>
    <button (click)="sendMessage(message)"><img src="../../assets/images/send-message.png" alt=""></button>
  </div>
</div>

<div *ngIf="isReg.isOpen" (click)="Toggle()" class="dashboard__close-button"><img src="../../assets/images/close-icon.png" alt=""></div>

