div {
  display: block;
  width: 20%;
  margin-left: 66.6%;
  margin-top: -17px;
  padding-left: 68px;
  font-size: 10px;
  line-height: 25px;
  transition-duration: 0.2s;

  ul {
    background-color: #282828;
    list-style-type: none;
    padding-left: 0;
    border-radius: 0 0 6px 6px;

    li {
      padding-left: 13px;
    }

    li:hover {
      color: #E84F3C;
      cursor: pointer;
    }

    li:active{
      outline: 0;
      outline-offset: 0;
    }

    li:nth-child(2) {
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
    }
  }
}

@media screen and (max-width: 1010px) {
  div {
    width: 18%;
  }
}

@media screen and (max-width: 800px) {
  div {
    padding-left: 64px;
  }
}

@media screen and (max-width: 800px) {
  div {
    padding-left: 52px;
    font-size: 8px;
  }
}
