/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
  height: 100%;

  body {
    margin: 0;
    height: 100%;
    background: url(assets/images/background.svg) repeat-y;
    background-size: 100%;
    max-width: 100%;

    app-root {
      margin: 0;
      height: 100%;
      max-width: 100%;
    }
  }
}

