div {
  margin: 0 auto;
  max-width: 1220px;
  background: #FFFFFF;
  min-height: 100%;
  color: #FFFFFF;

  app-dashboard {
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 100;
  }
}
