.container {
  padding-top: 90px;
  min-height: calc(100vh - 190px);
  overflow: auto;
  .collection__albun {
    .collection__album-name_container {
      color: #E84F3C;
      height: 50px;
      padding-right: 10px;
      border-radius: 5px;
      clear: both;
      margin: 10px 1%;
      padding-left: 15px;
      box-shadow: 0px 10px 42px -8px #000000;;
      .collection__albun-name {
        overflow: auto;
        p {
          margin-top: 0;
          line-height: 50px;
          font-size: 25px;
          float: left;
        }

        .del, .edit {
          float: right;
        }
        .del:hover, .edit:hover {
          img {
            cursor: pointer;
          }
        }
        .edit {
          img {
            width: 30px;
            margin-top: 10px;
          }
        }
      }
    }
    .collection__albun-list {
      .collection__albun-list-item {
        background-color: lightgray;
        width: 18.18%;
        margin-left: 1.5%;
        float: left;
        margin-bottom: 25px;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(20, 19, 24, 0.64);

        .del-song {
          position: relative;
          z-index: 1000;
          margin-bottom: -22%;
          z-index: 1000;
          img {
            margin-left: 80%;
            width: 18%;
            height: 18%;
            border-radius: 50%;
            background-color: white;
          }
          img:hover {
            cursor: pointer;
          }
        }

        img {
          position: relative;
          z-index: 100;
          width: 100%;
          height: 100%;
        }

        .collection__albun-list-item_name {
          position: relative;
          z-index: 1000;
          margin-top: 20px;
          padding-left: 4px;
          margin-top: -28px;
          margin-bottom: 0;
          white-space: nowrap;
          overflow: hidden;
          text-shadow: -0 -1px 6px #000000, 0 -1px 6px #000000, -0 1px 6px #000000, 0 1px 6px #000000, -1px -0 6px #000000,
          1px -0 6px #000000, -1px 0  6px #000000, 1px 0 6px #000000, -1px -1px 6px #000000, 1px -1px 6px #000000,
          -1px  1px 6px #000000, 1px  1px 6px #000000, -1px -1px 6px #000000, 1px -1px 6px #000000, -1px  1px 6px #000000,
          1px  1px 6px #000000;
        }
      }

      @media screen and (max-width: 800px) {
        .collection__albun-list-item {
          width: 23.8%;
          margin-left: 1%;

          .collection__albun-list-item_name {
            font-size: 16px;
          }
        }
      }

      @media screen and (max-width: 700px) {
        .collection__albun-list-item {
          width: 32%;
          margin-left: 1%;

          .collection__albun-list-item_name {
            font-size: 14px;
          }
        }
      }
    }
  }
}
