<div class="container">
  <div class="collection__albun">
    <div class="collection__album-name_container" *ngFor="let item of HeaderList">
      <div class="collection__albun-name">
        <p>{{item}}</p>
        <div class="del"><img src="../../../assets/images/close-icon.png" alt=""></div>
        <div class="edit"><img src="../../../assets/images/edit.png" alt=""></div>
      </div>
    </div>
    <div class="collection__albun-list">
      <div class="collection__albun-list-item">
        <p class="collection__albun-list-item_name">Hello world</p>
      </div>
    </div>
  </div>
</div>
