div {
  height: 40px;
  width: 400px;
  border-radius: 3px;
  background-color: #4285F4;
  cursor: pointer;

  img {
    float: left;
    height: 20px;
    padding: 9px;
    margin: 1px 28px 1px 1px;
    border-radius: 3px;
    background-color: #FFFFFF;
  }

  p {
    font-family: "Gotham Pro", Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 40px;
  }
}
